body {
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.299);
}

nav h2 {
  width: 100%;
  text-align: center;
}

/* sidebar start*/
.bar {
  position: fixed;
  top: 0;
  left: -300px;
  background-color: #ffffff;
  height: 100%;
  width: 250px;
  padding-top: 50px;
  z-index: 1;
  transition: 0.5s;
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.373);
}

.bar.active {
  left: 0;
  transition: all 0.5s;
}

.bar ul {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
ul a {
  text-decoration: none;
  color: black;
}
.bar li a:hover {
  transition: 0.5s;
}

ul {
  list-style-type: none; /* маркер none */
}

.icon {
  position: absolute;
  left: 30px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 11;
  transform: translateY(-50%);
  transition: 0.5s;
  transition-delay: 0.05s;
  cursor: pointer;
}
.icon.active span {
  background-color: rgb(0, 0, 0);
}

.icon.active span:nth-child(2) {
  display: none;
}

.icon.active {
  position: fixed;
  left: 200px;
}
span {
  width: 30px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  z-index: 11;
}

/* sidebar end */

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section h1 {
  font-family: "Nunito sans";
}
form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Nunito sans";
}
.fill {
  width: 900px;
  height: 40px;
}
.form {
  display: flex;
  flex-direction: column;
}
button {
  width: 200px;
  height: 50px;
  align-self: center;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid black;
}
@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  section {
    width: 100%;
  }
  form {
    width: 80%;
  }
  .form * {
    width: 100%;
  }

.icon {
  transform: scale(0.8) translateY(-50%);
}
 .bar{
    top:0;
    width:199px;
    height:100%
 
  
  }
  .bar.active{
    left:0;}
 .bar ul{
  font-size: 16px;
 }
.icon.active {
  left: 150px;
}}
